body{
	color: wheat;
}
.pirata{
	color: wheat;
	font-size: 88px;
	font-family: fuente-pirata;
}

.pirata a{
	color: red;
	text-decoration: none;
	font-size: 176px;
}

#pluma{
	position:absolute;
	top: 0px; 
	float: left; 
	z-index: -1;
}
